.footer_footer {
    display: none;
    height: 40px;
    background:#281c93;
    width: 100%;


    @media(max-width:800px) {
        display: block
    }
}


.footerContent_footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .lista-unidad_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        cursor:pointer;
        transition:all 300ms ease;

        &:hover{
            background:#a784d3;
        }


        .icon_footer {
            width: 20px;
            height: 20px;

            svg {
                width: 100%;
                height: 100%;
                fill:white;
            }
        }

        span{
            font-size:9px;
            color:white;
        }

    }
}