.nav-header {
    width: 100%;
    height: 70px;
    color: white;
    position: absolute;
    z-index: 100;
}

.nav-header-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 25px;

    @media(max-width:800px) {
        padding: 5px 15px;

    }


}

.nav-left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    a {
        height: 30px;
        width: 140px;
        display: grid;
        place-items: center;

        img {
            width: 100%;
            height: 100%;
        }
    }




    @media (max-width:800px) {
        flex: 0;
        margin-right: 10px;
    }
}



.nav-center {
    flex: 1;
    height: 60%;
    max-width:500px;
    display:flex;
    align-items: center;
    justify-content: center;



    ul {
        list-style: none;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;


        li {
            cursor: pointer;
        }


        @media(max-width:800px) {
            display: none;
        }
    }

    @media(max-width:800px){
        display:none;
    }

}

.nav-right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;




    .lupaIcon-header {
        display: flex;
        justify-content:flex-end;
        align-items: center;
        height: 80%;
        width: 100%;

        input {
            opacity: 0;
            width: 10%;
            transition: all 100ms ease;
            height: 100%;
            background: #515151;
            border-radius: 11px;
            color: white;
            padding-left: 14px
        }


        .lupa-icon {
            width: 35px;
            height: 35px;
            padding: 9px;
            transition: all 400ms ease;
            border-radius: 999px;
            background: transparent;
            cursor: pointer;
            outline: 1px solid transparent;
            margin:0 10px;


            &:hover {
                background: rgb(18 18 18 / 39%);
                outline: 2px solid #645495
            }

            @media(max-width:800px) {
                margin-left: 10px;

            }
        }
    }



    .icon-right_header {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        align-items: center;

        .icon-login_header {
            width: 40px;
            height: 40px;


            svg {
                width: 100%;
                height: 100%;
            }



        }

        span {
            width: max-content;
            display: inline-block;
            font-size: 11px;

            @media(max-width:800px) {
                font-size: 8px;
            }
        }
    }

}