*{
  box-sizing: border-box;
  padding:0px;
  margin:0px;
  border:none;
  outline:none;
}


html,body,#root,.ventana{
  width:100%;
  min-height:100%;
  height:100%;
}


.ventana{
  max-height:100%;
  overflow:auto;
  display:flex;
  flex-direction: column;
  
}


